@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td><a class="btn btn-danger" href="/Kategori/KategoriSil/@Model.Rows[i][0]">Sil</a></td>
            <td><a class="btn btn-success" href="/Kategori/KategoriGetir/@Model.Rows[i][0]">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>
