
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br/>
<h2>Departman Detay Sayfası</h2>
<br/>

<div style="background-color: darkgray">
    Deneme
</div>
<br/>
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="#" class="btn btn-info" style="background-color: green">Satışlar</a></td>
    </tr>
</table>